@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color: rgb(0, 0, 0);
  --background-out: rgb(243, 244, 246);
  --background-in: rgb(255, 255, 255);
}

body.dark {
  --color: rgb(222, 222, 222);
  --background-out: rgb(25, 25, 25);
  --background-in: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width:  10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400;

  border-radius: 999px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-track {
  @apply bg-primary-bg-in;
}