@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color: rgb(0, 0, 0);
  --background-out: rgb(243, 244, 246);
  --background-in: rgb(255, 255, 255);
}

body.dark {
  --color: rgb(222, 222, 222);
  --background-out: rgb(25, 25, 25);
  --background-in: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
